#shift-content{
    width:90%;
    margin:auto;
    overflow:  visible;
}

#shift-date-area{
    width:100%;
    text-align: center;
    overflow: hidden;
}

#shift-content #shift-board{
    width:100%;
    height:60vh;
    overflow:auto;
}


#shift-content #shift-board table th,td{
    padding :20px;
    border :1px solid #2e2e2e;
}


#auto-createbt{
    width:100%;
    text-align: right;
}

#auto-createbt button{
    border-radius:50%;
    width:80px;
    height:80px;
}

#auto-createbt button img{
    height:50%;
}
